# Python
venv/
__pycache__/
*.pyc
.venv311/

# YOLO training output
runs/

# Dataset (opsional, biasanya jangan diupload)
train/
valid/
test/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

#Dataset file
dataset-file/
data.yaml
video_datasets/